
/* boxes */
#boxes{
  margin-top:20px;
}

#boxes a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#boxes .box
{
  float:left;
  width:30%;
  text-align: center;
  padding: 10px;
}

#boxes .box img{
  height: 100px;
}

.slideshow{
    width:32%;
    height:auto;
}

#pics{
    display:table;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#lastpic{
    display:table;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*
#current{
    display:inline;
}
*/
