
/* boxes */
#boxes{
  margin-top:20px;
}

#boxes a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#boxes .box
{
  float:left;
  width:30%;
  text-align: center;
  padding: 10px;
}

#boxes .box img{
  height: 100px;
}
